.header {
  position: relative;
  height: 77.6vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 0.75),
      rgba($color-primary-dark, 0.85)
    ),
    url(../../../pics/ex1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    color: $color-white;
    width: 50rem;
    text-align: start;
    transform: translate(-50%, 0);
    @include respond(phone) {
      transform: translate(0, 0);
      text-align: center;
    }
    text-shadow: 0 1rem 2rem rgba($color-black, 0.9);
    &--heading {
      text-align: center;
      font-size: 4rem;
    }
    &--paragraph {
      font-size: $default-font-size;
      text-align: start;
    }
  }
  &__scrolled {
    margin-top: 12.5rem;
  }
}
.iheader {
  height: 30vh;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 0.75),
      rgba($color-primary-dark, 0.85)
    ),
    url(../../../pics/TS1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    transform: translate(0, 0);
    font-size: 2.5rem;
    color: $color_white;
  }
  &__scrolled {
    margin-top: 12.5rem;
  }
}
.body {
  height: 100vh;
}
