.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-grey-light-3;
  padding: 0 10rem;
  @include respond(tab-land) {
    padding: 0 7.5rem;
  }
  @include respond(tab-port) {
    padding: 0 6rem;
  }
  height: 12.5rem;
  z-index: 1;
  &__img {
    height: 10rem;
    width: auto;
  }
  &__item {
    padding: 5rem;
    &--img {
      margin-right: auto;
    }
  }
}
.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}
